<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>-->
    <!--<script src="/static/js/bootstrap.js" type="application/javascript"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/esm/popper-utils.js"></script>-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">Online Bookstore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/books">Book</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/payments/charge">Cart <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <a class="btn btn-success btn-sm ml-3" href="payments/charge">
                    <i class="fa fa-shopping-cart"></i> Cart
                </a>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Online Bookstore</h1>
    </div>
</section>

<div th:if="${param.message}">
    <h2 class="text-center text-primary" th:text="${param.message}"></h2>
</div>

<div th:if="${param.error}">
    <h2 class="text-center text-danger" th:text="${param.error}"></h2>
</div>

<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${books.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Book</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Author</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book1 : ${book}">
                        <td><img th:src="${book1.getImageBase64()}"/></td>
                        <td th:text="${book1.getName()}"></td>
                        <td th:text="${book1.getQuantity() > 0 } ? 'In stock' : 'Out of stock'"></td>
                        <td th:text="${book1.getQuantity()}"></td>
                        <td th:text="${book1.getAuthor() != null} ? ${book1.getAuthor().getName()} : 'No Author'"></td>
                        <td class="text-right">
                            <form th:action="@{/book/{id}/delete(id=${book1.getId()})}" th:method="delete">
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></button>
                            </form>
                            <a th:href="@{/book/{id}/edit(id=${book1.getId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                            <form th:action="@{/shopping-carts/{id}/add-book(id=${book1.getId()})}" th:method="post">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash">Add book to cart</i></button>
                            </form>
                            <form th:action="@{/shopping-carts/{id}/remove-book(id=${book1.getId()})}" th:method="post">
                                <button type="submit" class="btn btn-sm btn-warning"><i class="fa fa-trash">Remove book from cart</i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/books/add-new" class="btn btn-block btn-light">Add new book</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="text-black-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Our point is to give significant, charming and also animating substance to youngsters that goes much past their normal course books.

                </p>
            </div>


            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> niluferbasgul@hotmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a
                        href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html"><i>t-php</i></a> |
                    <span>v. 1.0</span></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>



